/* Tokyo Night Dark Palette */
@define-color base   #1a1b26;
@define-color mantle #16161e;
@define-color crust  #13131a;
@define-color text   #c0caf5;
@define-color subtext0 #a9b1d6;
@define-color subtext1 #9aa5ce;
@define-color surface0 #292e42;
@define-color surface1 #3b4261;
@define-color surface2 #414868;
@define-color red     #f7768e;
@define-color peach   #ff9e64;
@define-color yellow  #e0af68;
@define-color green   #9ece6a;
@define-color teal    #1abc9c;
@define-color blue    #7aa2f7;
@define-color mauve   #bb9af7;
@define-color flamingo #f7768e;

/* General styling */
* {
    font-family: "FiraCode Nerd Font", monospace;
    font-size: 16px;
    font-weight: 500;
    min-height: 0;
    border: none;
    border-radius: 0;
}


window#waybar {
    background: @base;
    /* background: @transparent; */
    color: @text;
    transition: background-color 0.5s;
}


#workspaces {
    margin: 0 6px;
    padding: 2px 4px;
    /* background: @surface0; */
    border-radius: 8px;
    color: @text;
}

#workspaces button {
    padding: 2px 6px;
    margin: 0 4px; /* reduced spacing between buttons */
    background: @surface1;
    color: @text;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}

#workspaces button.focused,
#workspaces button.active {
    background: @blue;
    color: @base;
    font-weight: bold;
}

#workspaces button.urgent {
    background: @red;
    color: @base;
}

#workspaces button:hover {
    background: @surface2;
    color: @text;
}


#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#battery {
    padding: 0 12px;
    margin: 0 8px;
    background: @surface0;
    border-radius: 10px;
    color: @text
}

#tray {
    padding: 0 12px;
    margin: 0 8px;
    background: @surface0;
    border-radius: 10px;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .active {
    -gtk-icon-effect: highlight;
}

tooltip {
    background: @crust;
    border: 1px solid @surface2;
    color: @text;
}

tooltip label {
    color: @text;
}

